extends layout

block content
  main(role="main" class="container")
      div(class="card" id="learnDeviceCard")
          div(class="card-header") Start learning Device
          div(class="card-body")
              form(id="startLearnForm")
                  button(type="submit",class="btn btn-primary") Start Learn

  script(src="/javascripts/main.js")